.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url(../../../public/background1.jpeg);
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 25px;
  margin-top: 20px;
}

.intro-text {
  text-align: center;
  width: 100%;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 100px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}
